body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #002D54;
}

.bienvenido {
    font-size: 30px;
    margin-top: 0.5px;
    margin-bottom: 2px;

}

.logo {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 35px;
}

.logo img {
    max-width: 240px;
    max-height: 90px;
}

.user-type {
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
}

.user-type input[type="radio"] {
    margin-right: 15px;
}

.input-field {
    font-family: arial;
    font-size: 15px;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    box-sizing: border-box;
    max-width: 420px;
}

.sign-in-btn {
    font-size: 17px;
    width: 42%;
    padding: 10px;
    background-color: #E4A92F;
    color: #000000;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-weight: bold;

}

.sign-in-btn:hover {
    background-color: #dfbf5e;
}

.forgot-password {
    margin-top: 1px;
}

.forgot-password a {
    font-size: 15px;
    color: #007bff;
    text-decoration: none;
}

.forgot-password a:hover {
    color: #005aba;
}

.register-link {
    margin-top: 33px;
    margin-bottom: 1px;

}

.register-link a {
    font-size: 15px;
    color: #007bff;
    text-decoration: none;
}

.register-link a:hover {
    color: #005aba;
}

.footer-container {
    background-color: #002d54;
    color: white;
    padding: 20px 20px;
    display: flex;
    justify-content: space-around;
}

.footer-section {
    margin: 0 50px;
}

.footer-heading {
    border-bottom: 1px solid #aaa;
    padding-bottom: 5px;
}

.branch-schedule,
.contact-info {
    list-style-type: none;
    padding: 0;
}

.schedule-item,
.contact-item {
    margin-bottom: 5px;
}

.social-icon {
    text-align: left;
    margin: 0 5px;
}

.social-icon img {
    width: 25px;
    height: 25px;
}

.container {
    background-color: #efefef;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #000000;
    font-family: 'Arial';
    max-width: 450px;
    width: 100%;
    margin: auto;
    margin-top: 12px;
    margin-bottom: 30px;
    text-align: center; /* Centra el contenido dentro del contenedor */
    display: flex;
    flex-direction: column; /* Ordena los elementos en columna */
    align-items: center; /* Centra los elementos horizontalmente */
    box-sizing: border-box;
}

.container h1 {
    font-size: 30px;
    margin-bottom: 25px; /* Espaciado entre el título y el botón */
}

.container .volver-btn {
    font-size: 17px;
    width: 42%;
    padding: 10px;
    background-color: #E4A92F;
    color: #000000;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 25px; /* Espaciado para separar el botón del contenido */
}

.container .volver-btn:hover {
    background-color: #dfbf5e; /* Cambio de color al pasar el ratón sobre el botón */
}
