body {
    font-family: Arial, sans-serif;
    background-color: #002d54;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-box {
    text-align: center;
}

.logo-container img {
    height: 120px;
}

h1 {
    font-size: 24px;
    color: #333;
}

p {
    font-size: 18px;
    color: #666;
}

p.success {
    color: green;
}

p.error {
    color: red;
}

@media (max-width: 600px) {
    .container {
        width: 90%;
    }
}
